.about{
margin :30px 0px;
padding:20px;
margin-left: 200px;
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 1.95px 2.6px;
background-color: #eeccff;
border-radius: 5px;
}
.about-img img{
    border-radius: 10px;
    height: 450px; width:100% ;
}
.about-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #dd99ff;
border-radius: 10px;
}
.about-content h1{
color:grey;
font-family: cursive;
border-bottom: 2px solid grey;
text-align: center;
}
.about-content p{
    text-align: justify;
    padding:20px;
}

/* Dark Mode*/
#dark .about{
box-sizing: none;
background-color: rgba(225, 225, 225, 0.095);
}
#dark .about-context h1{
    color:#b0a4a4;
    border-bottom: 2px solid #b0a4a4;
}
#dark .about-content{
    background-color: rgba(225, 225, 225, 0.095);
}


/* mobile  */
@media(max-width:600px){
   .about{
    margin:0;
    padding:0;
    margin-top: 20px;
   }
   .about-content h1{
    margin-top: 10px;
    width:100%;
   }

}